#scissors{
	height: 250px;
	width: 250px;
}

#paper{
	height: 250px;
	width: 250px;
}

#rock{
	height: 200px;
	width: 300px;
}

#question{
	font-family: sans-serif;

}

#result{
	font-family: sans-serif;
}